<p id="notice"><%= notice %></p>

<h1>Show</h1>
<div>
  <table class="show">
  	<tr>
  		<th scope="row">Title</th>
  		<td><%= @task.title %></td>
  	</tr>
  	<tr>
  		<th scope="row">Description</th>
  		<td><%= @task.description %></td>
  	</tr>
  	<tr>
  		<th scope="row">Expired at</th>
  		<td><%= @task.expired_at %></td>
  	</tr>
    <tr>
      <th scope="row">Importance</th>
      <td><%= @task.importance %></td>
    </tr>
    <tr>
  		<th scope="row">Completed</th>
  		<td><%= @task.completed ? '完了' : '未完了' %></td>
  	</tr>
    <tr>
      <th scope="row">Category</th>
      <td><%= @task.category.title %></td>
    </tr>

  </table>
</div>

<div class="link">
  <div class="edit">
    <%= link_to 'Edit', edit_task_path(@task) %>
  </div>

  <div class="back">
    <%= link_to 'Back', :back %>
  </div>
</div>
