<% tasks.each do |task| %>
<nav>
  <ul>
    <li>
      <div class="list">

        <div id="<%= task.id %>" class="list-title <%= task.expired_at && task.expired_at < Time.zone.now ? 'expired' : '' %>" >
          <%= task.title %>
        </div>

        <div class="list-link">
            <a type="button" class="destroy" id="<%= task.id %>">
              destroy
            </a>
        </div>
        <div class="list-link">
          <%= link_to 'edit', edit_task_path(task) %>
        </div>
        <div class="list-link">
          <%= link_to 'show', task %>
        </div>
      </div>
    </li>
  </ul>
</nav>
<% end %>
<br>
