<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="header-title">
        やることリスト
      </div>
      <div class="header-user-name">
        【<%= current_user.name %>】
      </div>
      <div class="header-link category">
        <%= link_to 'カテゴリー', categories_path %>
      </div>
      <div class="header-link">
        <%= link_to '未完了', root_path %>
      </div>
      <div class="header-link">
        <%= link_to '完了', tasks_path %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
